<!DOCTYPE html>
<html>
<title>Myself</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style1.css">
<link rel="stylesheet" href="css/font.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.myself-row-padding img {margin-bottom: 12px}

.myself-sidebar {width: 120px;background: #222;}

#main {margin-left: 120px}

@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="myself-black">


<nav class="myself-sidebar myself-bar-block myself-small myself-hide-small myself-center">
  
  <img src="img/75379824_835712146868992_6601544484393109991_n.jpg" style="width:100%">
  <a href="#" class="myself-bar-item myself-button myself-padding-large myself-black">
    <i class="fa fa-home myself-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="#about" class="myself-bar-item myself-button myself-padding-large myself-hover-black">
    <i class="fa fa-user myself-xxlarge"></i>
    <p>ABOUT</p>
  </a>

  <a href="#contact" class="myself-bar-item myself-button myself-padding-large myself-hover-black">
    <i class="fa fa-envelope myself-xxlarge"></i>
    <p>CONTACT</p>
  </a>
</nav>


<div class="myself-top myself-hide-large myself-hide-medium" id="myNavbar">
  <div class="myself-bar myself-black myself-opacity myself-hover-opacity-off myself-center myself-small">
    <a href="#" class="myself-bar-item myself-button" style="width:25% !important">HOME</a>
    <a href="#about" class="myself-bar-item myself-button" style="width:25% !important">ABOUT</a>

    <a href="#contact" class="myself-bar-item myself-button" style="width:25% !important">CONTACT</a>
  </div>
</div>

<!-- Page Content -->
<div class="myself-padding-large" id="main">
  <!-- Header/Home -->
  <header class="myself-container myself-padding-32 myself-center myself-black" id="home">
    <h1 class="myself-jumbo"><span class="myself-hide-small">I'm</span> Ragul Murugan</h1>
    <p>Web Developer</p>
    <img src="img/theme.jpeg" alt="boy" class="myself-image" width="992" height="1108">
  </header>

  <!-- About Section -->
  <div class="myself-content myself-justify myself-text-grey myself-padding-64" id="about">
    <h2 class="myself-text-light-grey">About me</h2>
    <hr style="width:200px" class="myself-opacity">
    <p> Hi! I am Ragul Murugan, working as a web developer in Wipro digital, focused on crafting great web experiences. Designing and Coding have been my passion since the days I started working with computers but I found myself into web development. I enjoy creating beautifully designed, intuitive and functional websites
    </p>
    
      <div class="myself-content myself-justify myself-text-grey myself-padding-64">
    
      <div class="myself-content myself-justify myself-text-grey myself-padding-64">
        <h2 class="myself-padding-16 myself-text-light-grey"><i class="fa fa-suitcase fa-fw myself-margin-right myself-xxlarge myself-text-teal"></i>Work Experience</h2>
        
          <h5 class="myself-padding-16 myself-text-light-grey"><b>Java Web Application Developer / Wipro Limited (Bangalore)</b></h5>
          <h6 class="myself-padding-16 myself-text-light-grey"><i class="fa fa-calendar fa-fw myself-margin-right"></i>May 2019 - <span class="myself-tag myself-teal myself-round">Current</span></h6>
          <p>Developing and Implementing various types of Java based web Applications. As a Developer need to develop the end-to-end flow in the Application and sometimes need to fix unwanted fix as well :)</p>
          <hr>
        
  <h2 class="myself-padding-16 myself-text-light-grey"><i class="fa fa-certificate fa-fw myself-margin-right myself-xxlarge myself-text-teal"></i>Education</h2>
      <hr>
        <h5 class="myself-padding-16 myself-text-light-grey"><b>Jeppiaar institute of Technology (Chennai)</b></h5>
          <h6 class="myself-padding-16 myself-text-light-grey"><i class="fa fa-calendar fa-fw myself-margin-right"></i>2015 - 2019</h6>
          <p>Completed Bachelor of Engineering in Computer Science.</p>
          <hr>
        <h5 class="myself-padding-16 myself-text-light-grey"><b>Rotary Club School (Mayiladuthurai)</b></h5>
          <h6 class="myself-padding-16 myself-text-light-grey"><i class="fa fa-calendar fa-fw myself-margin-right"></i>2012 - 2015</h6>
          <p>Completed Higher Secondary Education.</p><br>    
</div>
    <!-- End Right Column -->
    </div>
 

  <!-- Contact Section -->
  <div class="myself-padding-64 myself-content myself-text-grey" id="contact">
    <h2 class="myself-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="myself-opacity">

    <div class="myself-section">
      <p><i class="fa fa-map-marker fa-fw myself-text-white myself-xxlarge myself-margin-right"></i> Bangalore, IND</p>
      <p><i class="fa fa-phone fa-fw myself-text-white myself-xxlarge myself-margin-right"></i> +91 9442932111</p>
      <p><i class="fa fa-envelope fa-fw myself-text-white myself-xxlarge myself-margin-right"> </i> Email: rahulvenkat.1997@gmail.com</p>
    </div><br>
    <p>Let's get in touch.</p>

 
  <!-- End Contact Section -->
  </div>
 
  
    <!-- Footer -->
  <footer class="myself-content myself-padding-64 myself-text-grey myself-xlarge">
    <i class="fa fa-facebook-official myself-hover-opacity"></i>
    <i class="fa fa-instagram myself-hover-opacity"></i>
    <i class="fa fa-snapchat myself-hover-opacity"></i>
    <i class="fa fa-pinterest-p myself-hover-opacity"></i>
    <i class="fa fa-twitter myself-hover-opacity"></i>
    <i class="fa fa-linkedin myself-hover-opacity"></i>
    <p class="myself-medium">Powered by <a href="https://www.heroku.com/" target="_blank" class="myself-hover-text-green">heroku</a></p>
  <!-- End footer -->
  </footer>
 </div>
  </div>
<!-- END PAGE CONTENT -->
</div>

</body>
</html>
